fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
python-dotenv==1.0.1
pydantic==2.6.4
PyVCF3==1.0.4
aiosqlite==0.20.0
google-generativeai==0.4.1
langchain==0.1.20
langchain-google-genai==0.0.11
pinecone-client==3.2.2
setuptools==69.5.1